.header {
    padding:50px;
    font-style: italic;
    text-align: center;
    color: white;
    font-size: 30px;
    float: left;
  }
 /* .row{
    padding: 10px; 
    font-style: italic;
    font-size: 20px;
    text-align: center;
    float: left;
  }*/
  